In [9]:
import re
def main():
    #pwd1=input("enter roll num")
    pwd='16r01a05e0'
    num='9391685208'
    #num1=input("enter num")
    #mail1='sandyjordan001@gmail.com'
    mail=input("enter mail")
    reg="[1][6][rR][0][1][aA][0][0-9][a-z][0-9]"
    reg1="[6-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]"
    reg2="[6-9][0-9]{9}"
    reg3="[a-z0-9]{5,14}[@][a-z]{3,12}[.][a-z]{2,3}"
    pat=re.compile(reg)
    pat2=re.compile(reg2)
    pat3=re.compile(reg3)
     
    mat=re.search(pat,pwd)
    mat1=re.search(pat2,num)
    mat2=re.search(pat3,mail)
    
    if mat and mat1 and mat2:
        print("matched")
    else:
        print("false")
        

if __name__=='__main__':
    main()

enter mailpillimahesh@gmail.com
matched

## date and time arthimetic

In [15]:
import datetime
thisyear = datetime.datetime.now()
thisyear.year
print(thisyear)

2019-07-23 15:33:52.397102

In [16]:
print(dir(datetime))

['MAXYEAR', 'MINYEAR', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'date', 'datetime', 'datetime_CAPI', 'sys', 'time', 'timedelta', 'timezone', 'tzinfo']

In [19]:
#with out using libraries
l1='jdfhdhfuhfuskufh'
l1[7::-1]

'ufhdhfdj'

In [21]:
s1='9391685208'
s1[5:3:-1]

'86'

In [23]:
import calendar
calendar.isleap(2016)

True

In [28]:
yr=int(input("enter year"))
if ((yr%4==0 or yr %400==0) and yr%100!=0):
    print("leap")
else:
    print('false')

enter year2019
false

In [2]:
sum(list(range(10+1)))

55

In [6]:
from math import sqrt

n=int(input("enter"))
print(sqrt(n))

enter5
2.23606797749979

### List comprehension

In [7]:
def sqrtt(l1):
    
    return [i**2 for i in l1]
sqrtt(list(range(1,6)))

[1, 4, 9, 16, 25]

In [ ]:
def div9(l1):
    return [(i//9==0) for i in l1]

## Maps

In [5]:
def cubee(n):
    print(n**3,end=" ")
l1=[1,2,3,4,5]
x=list(map(cubee,l1))

182764125

## Num to word

In [19]:
#num2words = {1: 'One', 2: 'Two', 3: 'Three', 4: 'Four', 5: 'Five', \
            6: 'Six', 7: 'Seven', 8: 'Eight', 9: 'Nine', 10: 'Ten', \
            11: 'Eleven', 12: 'Twelve', 13: 'Thirteen', 14: 'Fourteen', \
            15: 'Fifteen', 16: 'Sixteen', 17: 'Seventeen', 18: 'Eighteen', 19: 'Nineteen'}
num2words1=['one', 'Two', 'Three', 'Four',  'Five', \
            'Six', 'Seven',  'Eight',  'Nine', 'Ten', \
            'Eleven', 'Twelve',  'Thirteen', 'Fourteen', \
            'Fifteen', 'Sixteen', 'Seventeen', 'Eighteen', 'Nineteen']


#num2words2 = [Twenty','Thirty', 'Forty', 'Fifty', 'Sixty', 'Seventy', 'Eighty', 'Ninety']
num2words2 = ['Twenty', 'Thirty', 'Forty', 'Fifty', 'Sixty', 'Seventy', 'Eighty', 'Ninety']
num2words3=['hundred','thousand']

def number(Number):
    if 1 <= Number < 19:
        return num2words1[Number-1]
    elif 20 <= Number <= 99:
        
        n=Number//10
        print(n)
        n1=Number%10
        return num2words2[n-2]+'-'+num2words1[n1-1]
    elif 99<=Number>=1000:
        while(Number!=0):
            i=Number%10
            l1.append()
            
        
        
        print("Number out of range")
number(23)

2

'Twenty-Three'

##